In [1]:
import sqlite3
import pandas as pd

In [2]:
db_file = "users.db"

In [3]:
def select_as_df(table):
    db = sqlite3.connect(db_file)
    qry = f"SELECT rowid, * FROM {table}"
    result = pd.read_sql_query(qry, db)
    return result

In [28]:
userinfo = select_as_df("users")
userinfo

,rowid,name,email,hashedpwd,last_off_day
0,1,Peter Parker,pparker@something.com,$2b$12$jENYoMZknYEfvkH0GJQ3MOXikKWlQA7t5OxdDbx...,2023-08-02
1,2,John Wick,jwick@something.com,$2b$12$dN1oPDUDTl5ByRDxkd0Xk.J1XbJ4cuHfZgzlBcc...,
2,3,Fred Sanford,sandman@something.com,$2b$12$Jl10CUHqPH94xGi0b.9nHu2RUkAHqfNjFbe83YA...,
3,4,Siobhan Tony,sheve@something.com,$2b$12$FQRZ5p65MQsLI8bOoTc3Pe6ZMk1nwvdvlT7oI8N...,

In [5]:
userinfo.loc[0]["email"]

'pparker@something.com'

In [6]:
u = {}
for i in range(len(userinfo)):
    u[userinfo.loc[i]["email"]] = {
        "name": userinfo.loc[i]["name"],
        "password": userinfo.loc[i]["hashedpwd"],
    }

credentials = {"usernames": u}
import json

print(json.dumps(credentials, indent=2))

{
  "usernames": {
    "pparker@something.com": {
      "name": "Peter Parker",
      "password": "$2b$12$jENYoMZknYEfvkH0GJQ3MOXikKWlQA7t5OxdDbxYZDess66D/4WIG"
    },
    "jwick@something.com": {
      "name": "John Wick",
      "password": "$2b$12$dN1oPDUDTl5ByRDxkd0Xk.J1XbJ4cuHfZgzlBccvDQX5ngtsOvHxm"
    },
    "sandman@something.com": {
      "name": "Fred Sanford",
      "password": "$2b$12$Jl10CUHqPH94xGi0b.9nHu2RUkAHqfNjFbe83YAizk8ktlEFIbFS."
    }
  }
}

In [26]:
def current_user(email):
    qry = f"SELECT * FROM users WHERE email = '{email}'"
    db = sqlite3.connect(db_file)
    result = pd.read_sql_query(qry, db).to_dict("records")[0]
    return result

In [27]:
c = current_user(userinfo.loc[0]["email"])
c

{'name': 'Peter Parker',
 'email': 'pparker@something.com',
 'hashedpwd': '$2b$12$jENYoMZknYEfvkH0GJQ3MOXikKWlQA7t5OxdDbxYZDess66D/4WIG',
 'last_off_day': '2023-08-02'}

In [25]:
from datetime import datetime
try:
    dt = datetime.strptime(c["last_off_day"], "%Y-%m-%d")
except:
    dt = None

dt